<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="cef.redist.x64" version="79.1.36" targetFramework="net48" />
  <package id="cef.redist.x86" version="79.1.36" targetFramework="net48" />
  <package id="CefSharp.Common" version="79.1.360" targetFramework="net48" />
  <package id="CefSharp.OffScreen" version="79.1.360" targetFramework="net48" />
  <package id="ColorPickerWPF" version="1.0.9" targetFramework="net48" />
  <package id="Costura.Fody" version="4.1.0" targetFramework="net48" />
  <package id="Fody" version="6.1.1" targetFramework="net48" developmentDependency="true" />
  <package id="PushBulletSharp" version="3.1.0" targetFramework="net48" />
  <package id="System.IO" version="4.3.0" targetFramework="net48" />
  <package id="System.Net.Security" version="4.3.2" targetFramework="net48" />
  <package id="System.Reactive" version="4.4.1" targetFramework="net48" />
  <package id="System.Runtime" version="4.3.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.3" targetFramework="net48" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.0" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net48" />
  <package id="System.Threading.Timer" version="4.3.0" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net48" />
  <package id="WebSocketSharp" version="1.0.3-rc11" targetFramework="net48" />
  <package id="WriteableBitmapEx" version="1.5.1.0" targetFramework="net48" />
</packages>